<% provide(:title,"kzeyhriozeuoze" ) # gestion du titre de la page %>
<h2>show</h2>
<div class="container">
<p><%= @user.id  %></p>
<p><%= @user.name  %></p>
<p><%= @user.email  %></p>
<p><%= @user.created_at  %></p>
<p><%= @user.updated_at  %></p>
<%= !!@user.name = "Andy" %>
</div>